{% extends "home/hLayout.html" %} 
{% load static %} 
{% block title %}
<title>home</title>
{% endblock title %} 
{% block styles %}
<link
  rel="stylesheet"
  href="{% static 'webstyles/home.css' %}"
/>
{% endblock %} 
{% block body %}
<div class="content">
    <div class="file">

    
    <div class="input-group ">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
    </div>
</div>

{% endblock %}
