{% extends "authCustom/layout.html" %} {% load static %} {% block title %}
<title>registration</title>
{% endblock title %} {% block styles %}
<link rel="stylesheet" href="{% static 'webstyles/login.css' %}" />
{% endblock %} {% block body %}
<h1>Registration Details</h1>
<div class="container">
  <div class="card">
    <div class="card-body">

      <form method="post" class="form-container">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.first_name.id_for_label }}">First Name:</label>
          {{ form.first_name }}
        </div>

        <div class="form-group">
          <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
          {{ form.last_name }}
        </div>

        <div class="form-group">
          <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth:</label>
          {{ form.date_of_birth }}
        </div>

        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{ form.email }}
        </div>

        

        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username:</label>
          {{ form.username }}
        </div>

        <div class="form-group">
          <label for="{{ form.role.id_for_label }}">Role:</label>
          {{ form.role }}
        </div>

        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Password:</label>
          {{ form.password1 }}
        </div>

        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
          {{ form.password2 }}
        </div>

        <button type="submit" class="submit-button">Register</button>
      </form>

    </div>
  </div>
</div>
</div>

{% endblock %}