{% extends "authCustom/layout.html" %}
{% load static %}
{% block title %}
    <title>registration</title>
{% endblock title %}

{% block styles %}
        <link rel="stylesheet" href="{% static 'webstyles/login.css' %}">
{% endblock  %}

{% block body %}
    <h1> registration details</h1>
    <div class="container">
        <form>
            <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <input type="text" aria-label="First name" class="form-control">
                <input type="text" aria-label="Last name" class="form-control"><br>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Date of birth</span>
                <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <select class="form-select" aria-label="Default select example">
                <option selected>type of user</option>
                <option value="1">patient</option>
                <option value="2">dentist</option>
            </select>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="licenses" aria-label="Username">
                
              </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
    
    
{% endblock %}