{% extends "home/hLayout.html" %} 
{% load static %} 
{% block title %}
<title>view patients</title>
{% endblock title %} 
{% block styles %}
<link
  rel="stylesheet"
  href="{% static 'webstyles/home.css' %}"
/>
{% endblock %} 
{% block body %}
<div class="content">
    <h1>All patients</h1>
    <ul>
        {% for user in patients %}
            <li>{{ user.first_name }} - {{ user.email }}---- <a style="margin-right: 30px;" href="{% url 'edit-patient' user.id  %}">Edit</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
