{% extends 'patients/base.html' %}

{% block title %}
    <title>patient List</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">patients Information</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in patients %}
                <tr>
                    <th scope="row">{{ emp.name }}</th>
                    <td>{{ emp.email }}</td>
                    <td>{{ emp.contact }}</td>
                    <td>{{ emp.status }}</td>
                    
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit-patient' %}">Edit</a>
                        <a href="{% url 'delete-patient'  %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create-patient' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>
{% endblock content %}